@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body, html {
	margin: 	  0;
	padding: 	  0;
	overflow:     hidden;
	background:   transparent;
}
#mediaPlayerControls {
	width: 		  300px;
	height:		  20px;
	background:   #000;
	color:		  #fff;
	padding:	  0 4px;
	border-radius:5px;
}
.playPause {
	cursor:		  pointer;
}
#durSlider {
	margin:		  0;
	color:	      white;
	padding: 	  0;
	height:  	  70%;
	width: 		  55%;
	border-color: white;
	background:	  white;
	margin-top:	  2px;
}
#currentTime, #duration {
	margin:		  0;
	font-size:	  12px;
	font-family:  sans-serif;
	color:		  white;
}